<%- include('./layouts/header') %>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <h1><%= message %></h1>
      <h2>Error <%= error.status %></h2>
    </div>
  </div>
  
<%- include('./layouts/footer') %>
